<!-- Google Web Fonts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
body{
    
    background: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(79, 71, 71) 43%, rgb(170, 198, 178) 100%);
    background-attachment: fixed; 
    font-family: 'Arima Madurai', cursive;
    color:rgb(241, 243, 236);
  
   
}



    /********** Template CSS **********/
:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}















@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}




























/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

</style>

{{!-- copyuing....... --}}



<body>
    <div >
        <!-- Content Start -->
     

            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">{{todaysale}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0">Rs.{{totalsales}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Orders</p>
                                <h6 class="mb-0">{{totalOrders}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Customers</p>
                                <h6 class="mb-0">{{count}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->
     

            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-gradient text-center rounded p-4" style="background-color:#470d0d85;">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Yearly Sales</h6>
                                {{!-- <a href="">Show All</a> --}}
                            </div>
                            <canvas id="myChart6"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-gradient text-center rounded p-4" style="background-color:rgb(206 165 165 / 86%);">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Monthly Salse & Revenue</h6>
                                {{!-- <a href="">Show All</a> --}}
                            </div>
                            <canvas id="myChart8"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-gradient text-center rounded p-4" style="background-color:#470d0d85;">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Monthly Order Details</h6>
                                {{!-- <a href="">Show All</a> --}}
                            </div>
                            <canvas id="myChart3"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-gradient text-center rounded p-4" style="background-color:#470d0d85;">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Last days Salse & Revenue</h6>
                                {{!-- <a href="">Show All</a> --}}
                            </div>
                            <canvas id="myChart23"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->
       <div >
                    <div class="pl-4 pt-2">
                        <h4 class="text-white" >More options to see and analyse Sales Report:</h4>
                    </div>
                     {{!-- <input type="button" class="btn btn-success justifycontent-end ml-5 col-2"  value="Export Data as PDF" onclick="Export()" /> --}}
                     <button type="button" class="btn btn-success ml-4" onclick="Export()"  >Export as PDF</button>
               </div>

         <div class="container mt-2 ">
      
           <table class="table text-white bg-gradient .table-striped" style="background-color: RGB(54, 22, 22); border-radius:30px ;" id="tblCustomers" cellspacing="0" cellpadding="0" >
  <thead>
    <tr>
        {{#each monthlysalesrevenue}}
      <th  style="font-weight:900 ; font-size:20px ;" scope="col">MOnthly sales:&nbsp;{{this.month}}-{{this.total}}Rs</th>
      {{/each }}
         
    </tr>
    <tr >
         {{#each yearlysalesrevenue}}
      <th style="font-weight:900 ; font-size:20px ;"  scope="col">Yearly sales:{{this.year}}-{{this.total}}RS</th>
      {{/each }}
    </tr> 
    
  </thead>
  <tbody>
      <tr>
        <th style="font-size:25px ; font-weight:900 ;">Sales per User</th>
        <th>Sales</th>
        <th>City</th>
        <th>Status</th>
    </tr>
         {{#each orders}}
       <tr>
      <th scope="col">{{this.deliverydetails.firstname}}</th>
      <th scope="col">{{this.price}} R.s</th>
      <th scope="col">{{this.deliverydetails.city}}</th>
       <th scope="col">{{this.status}}</th>
    </tr> 
 {{/each }}
  </tbody>
</table>
         </div>




    <!-- Template Javascript -->
</body>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{{!-- ==================  chart 1================= --}}
<script>
    let salesyear=[]

    {{#each yearlysalesrevenue}}
   salesyear.push('{{this.year}}')
    {{/each}}
    let salesrevenueperyear=[]
    {{#each yearlysalesrevenue}}
    salesrevenueperyear.push('{{this.total}}')
    {{/each}}
//var xValues =
var yValues = salesrevenueperyear;

new Chart("myChart6", {
  type: "line",
  data: {
    labels: salesyear,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "RGB(255, 99, 132)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});
</script>

{{!-- =========================== chart 2 =================== --}}
<script>
    let salesmonth=[]

    {{#each monthlysalesrevenue}}
    salesmonth.push('{{this.month}}')
    {{/each}}
    let salesrevenue=[]
    {{#each monthlysalesrevenue}}
    salesrevenue.push('{{this.total}}')
    {{/each}}
//var xValues =
var yValues = salesrevenue;

new Chart("myChart8", {
  type: "line",
  data: {
    labels: salesmonth,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "RGB(255, 99, 132)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});
</script>
{{!-- =========================== chart 3 =================== --}}

<script>
var xValues = ["Placed", "Packed", "Shipped", "Deliverd"];
var yValues = [{{orderplacedcount}},{{orderpackedcount}}, {{ordershippedcount}}, {{orderdeliverdcount}}];
var barColors = [
  "RGB(197, 50, 52)",
  "rgba(255,0,0,0.8)",
  "rgba(255,0,0,0.6)",
  "rgba(255,0,0,0.4)",
  "rgba(255,0,0,0.2)"
];

new Chart("myChart3", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "World Wine Production 2018"
    }
  }
});
</script>

{{!-- =========================== chart 4 ===================== --}}

<script>

var xValues = [];
     {{#each lastdaysale}}
    xValues.push('{{this.day}}')
    {{/each}}

var yValues = [];
  {{#each lastdaysale}}
    yValues.push('{{this.sales}}')
    {{/each}}
var barColors = [
  "RGB(197, 50, 52)",
  "rgba(255,0,0,0.8)",
  "rgba(255,0,0,0.6)",
  "rgba(255,0,0,0.4)",
  "rgba(255,0,0,0.2)"
];

new Chart("myChart23", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "World Wine Production 2018"
    }
  }
});
</script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        function Export() {
            html2canvas(document.getElementById('tblCustomers'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                }
            });
        }
    </script>